body {
    background-image: linear-gradient(to bottom, #519e2e, #63a939, #75b443, #86bf4e, #97ca59);
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
}

p, h1, h2, h4 {
    margin: 0;
}

p {
    font-size: 20px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h4 {
    font-size: 24px;
}
