body {
    background-image: linear-gradient(to bottom, #ffafbd, #ffb3b4, #ffb7ac, #ffbda5, #ffc3a0);
    color: #FFF;
    margin: 0;
    padding: 0;
}

p, h1, h2, h4 {
    margin: 0;
}

p {
    letter-spacing: 0.075em;
    font-size: 16px;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 40px;
}

h4 {
    font-size: 24px;
}

a {
    color: #FFFFFF !important;
    text-decoration: none !important;
}

a:hover {
    color: #EFEFEF !important;
    cursor: pointer;
}

p {
    font-size: 16px;
}